USE [tienda_comestibles]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 10/11/2023 20:23:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[DNI] [varchar](20) NOT NULL,
	[NOMBRE] [varchar](15) NOT NULL,
	[APELLIDO] [varchar](15) NOT NULL,
	[DIRECCION] [varchar](30) NULL,
	[FNACIMIENTO] [smalldatetime] NULL,
 CONSTRAINT [PK_NIF] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 10/11/2023 20:23:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[CODIGO] [int] NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[PRECIO] [smallmoney] NOT NULL,
	[NIF_PROVEEDOR] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 10/11/2023 20:23:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[NIF] [varchar](20) NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[DIRECCION] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 10/11/2023 20:23:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[ID_VENTA] [int] NOT NULL,
	[DNI_CLIENTE] [varchar](20) NOT NULL,
	[CODIGO_PROD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cliente] ([DNI], [NOMBRE], [APELLIDO], [DIRECCION], [FNACIMIENTO]) VALUES (N'111111110X', N'JUAN', N'HERNÁNDEZ', N'VALLADOLID', CAST(N'1982-02-10T00:00:00' AS SmallDateTime))
INSERT [dbo].[cliente] ([DNI], [NOMBRE], [APELLIDO], [DIRECCION], [FNACIMIENTO]) VALUES (N'11111111P', N'JOSÉ', N'PÉREZ', N'SEVILLA', CAST(N'1974-02-01T00:00:00' AS SmallDateTime))
INSERT [dbo].[cliente] ([DNI], [NOMBRE], [APELLIDO], [DIRECCION], [FNACIMIENTO]) VALUES (N'22222222K', N'PABLO', N'GÓMEZ', N'MURCIA', CAST(N'1980-03-02T00:00:00' AS SmallDateTime))
GO
INSERT [dbo].[producto] ([CODIGO], [NOMBRE], [PRECIO], [NIF_PROVEEDOR]) VALUES (234, N'Sardinas', 1.0000, N'2345677F')
INSERT [dbo].[producto] ([CODIGO], [NOMBRE], [PRECIO], [NIF_PROVEEDOR]) VALUES (235, N'Bocadillo Calamares', 1.5000, N'2345678F')
INSERT [dbo].[producto] ([CODIGO], [NOMBRE], [PRECIO], [NIF_PROVEEDOR]) VALUES (236, N'Gamba Blanca Caja', 40.0000, N'2345679F')
GO
INSERT [dbo].[proveedor] ([NIF], [NOMBRE], [DIRECCION]) VALUES (N'2345600F', N'Mulhacen', N'Granada')
INSERT [dbo].[proveedor] ([NIF], [NOMBRE], [DIRECCION]) VALUES (N'2345623F', N'Oleo Jaen', N'Jaen')
INSERT [dbo].[proveedor] ([NIF], [NOMBRE], [DIRECCION]) VALUES (N'2345632F', N'La Isla', N'Cádiz')
GO
INSERT [dbo].[venta] ([ID_VENTA], [DNI_CLIENTE], [CODIGO_PROD]) VALUES (1, N'11111111P', 234)
INSERT [dbo].[venta] ([ID_VENTA], [DNI_CLIENTE], [CODIGO_PROD]) VALUES (2, N'111111110X', 235)
INSERT [dbo].[venta] ([ID_VENTA], [DNI_CLIENTE], [CODIGO_PROD]) VALUES (3, N'22222222K', 236)
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD FOREIGN KEY([NIF_PROVEEDOR])
REFERENCES [dbo].[proveedor] ([NIF])
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD FOREIGN KEY([CODIGO_PROD])
REFERENCES [dbo].[producto] ([CODIGO])
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD FOREIGN KEY([DNI_CLIENTE])
REFERENCES [dbo].[cliente] ([DNI])
GO
